.container 
{
    max-width:600px;margin:40px auto;
}

#edad
{
    display:block;
    width:120px;
}

#error
{
    color:red;
    text-align:center;
    font-weight: bold;
}

#exito
{
    color:rgb(28, 28, 189);
    text-align:center;
    font-weight: bold;
}


